header{
    background-color: #643843;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}
footer{
    background-color: #99627A;
}
body{
    background-color: #643843;
}
h1{
    font-size: 45px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: #E7CBCB;
}
p{
    font-size: 30px;
    color: #E7CBCB;
    font-family: 'Oswald', sans-serif;
}
img{
    height: 250px;
    display: inline;
}

a{
    text-decoration: none;
    color: #B2533E;
}
h2{
    color: #FCE09B;
}
ul, ol{
    color: #C88EA7;
    font-size: 22px;
}
.Instagram{
    font-size: 36px;
    align-items: center;
    display: flex;
}
.numero{
    display: flex;
    align-items: center;
}
.phone{
    height: 30px;
}
h3{
    font-size: 42px;
}
.botones {
    display: flex;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #89586d;
    background-color: #89586d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #89586d;
}